@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

                /* Header */
.page-header {
  color: #2D3440;
}

.navigation {
  display: flex;
  margin: 24px 0;
}

.page-header-logo {
  width: 137px;
  margin: 0;
  padding: 0;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 663px;
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.navigation-user {
  position: relative;
  display: grid;
  grid-template-columns: 148px 32px 88px 115px;
  column-gap: 16px;
  grid-template-rows: auto;
  align-items: center;
  width: 431px;
  margin-left: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user .navigation-link {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link,
.navigation-user .navigation-item:nth-child(4) .navigation-link{
  background-color:rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  padding: 6px 16px 6px 0;
}

.link-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

.link-search .navigation-icon {
  position: relative;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-color:rgba(252, 252, 252, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  fill: #2D3440;
}

.navigation-link-login .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-link-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  outline: none;
}

 .navigation-link:hover  {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}


.navigation-link:focus {
  box-shadow: 0 0 0 2px #2D3440;
  border-radius: 30px;
  outline: none;
}

.navigation-link:active {
  box-shadow: 0 0 0 2px #FCFCFC;
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link:hover,
.navigation-user .navigation-item:nth-child(3) .navigation-link:hover ,
.navigation-user .navigation-item:nth-child(4) .navigation-link:hover  {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link:active,
.navigation-user .navigation-item:nth-child(3) .navigation-link:active,
.navigation-user .navigation-item:nth-child(4) .navigation-link:active {
  box-shadow: 0 0 0 2px #FCFCFC;
  background: #FCFCFC;
}

.navigation-link-current {
  background: #FF4A78;
  border-radius: 30px;
  color: #FCFCFC;
}

.content {
  padding-left: 38px;
}



                /*Main*/
.main-container {
  flex-grow: 1;
}

.main-index {
  display: grid;
  row-gap: 80px;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
}

.wrapper-description-carousel {
  padding: 136px 0 138px 70px;
}

.description-slider {
  width: 414px;
}

.slider-pagination {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  left: 0;
  padding: 0;
}

.slider-pagination-item {
  padding-left: 8px;
}

.slider-pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  padding: 0;
  background: rgba(252, 252, 252, 0.3);
  outline: none;
  border: none;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
  border-radius: 100px;
}

.slider-pagination-button:active {
  background: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-button-current:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  border-radius: 100px;
}

.slider-button-current {
  background: #FCFCFC;
}


.card-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  width: 470px;
  margin: 0;
}

.card-description {
  font-size: 18px;
  line-height: 24px;
  margin: 24px 0 48px;
}

.slider-image {
  display: block;
  padding: 21px 21px 26px;
}

.wrapper-slider {
  position: relative;
  width: 348px;
}

.wrapper-slider-button {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 38px;
  height: 38px;
  color:#FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background-image: url(../image/index/Arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.slider-button:hover {
  background: #FCFCFC;
  background-image: url(../image/index/Arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 26px;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../image/index/Arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 26px;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
  background-image: url(../image/index/Arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background-image: url(../image/index/Arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-prev {
  transform: rotate(180deg);
}

.arrow {
  padding: 0;
  margin: 0;
  fill: #FCFCFC;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.slide-banana {
  position: absolute;
  right: 158px;
  width: 100px;
}

.slide-caramel {
  position: absolute;
  right: 0;
  width: 100px;
}

.social-slider {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button {
  display: inline-block;
  background-color: #FF2F64;
  color: #FCFCFC;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 26px;
  cursor: pointer;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 9px 12px rgba(45, 52, 64, 0.1);
}

.button-white {
  background-color: #FCFCFC;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #2D3440;
}

.button-white:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}


.button-white:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.button-white:active {
  background: #FCFCFC;
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);

}

.button-white:disabled {
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
  cursor: not-allowed;
}

.product-card-button {
  position: relative;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #FF2F64;
  border: 2px solid #FF2F64;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: none;
  background-image: url(../image/index/cart-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
  border-radius: 26px;
  background-image: url(../image/index/cart-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-button:focus {
  background: #FF2F64;
  border: 2px solid #2D3440;
  border-radius: 26px;
  outline: none;
  background-image: url(../image/index/cart-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-button:active {
  background: #FFCBD8;
  border: 2px solid #FF2F64;
  border-radius: 26px;
  background-image: url(../image/index/cart-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-card-button:disabled {
  background: #B9B9B9;
  border-radius: 26px;
  background-image: url(../image/index/cart-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #B9B9B9;
  cursor: not-allowed;
}

.button-pink:hover {
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  border: 4px solid #FF2F64;
}

.button-pink:focus {
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.button-pink:active {
  background: #FEAFC3;
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  color: #E7E7E7;
}

.button-pink:disabled {
  background: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  background: #B9B9B9;
  color: #565C66;
  cursor: not-allowed;
}

.inner-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: auto;
}

.inner-section {
  display: grid;
  gap: 55px;
}

.title-gifts {
  width: 434px;
  ;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.gifts {
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
}

.wrapper-promo {
  padding: 36px;
  padding-right: 0;
}

.promo-gifts {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.description-of-raffle {
  width: 328px;
  margin: 28px -10px 28px 0;
}

.name-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

.description-item {
  color: #565C66;
  text-align: center;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 16px;
}


.popular {
  width: 527px;
}

.product-card-image {
  border-radius: 50%;
  position: absolute;

}

.wrapper-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FCFCFC;
  border-radius: 8px;
  margin-top: 56px;
  padding-top: 133px;
}

.description-item {
  width: 190px;
  text-align: center;
}
.product-card-price-container {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-bottom: 24px;
}

.wrapper-advantages {
  background-image: url(../image/index/Сео.png);
  background-repeat: no-repeat;
  padding: 24px;
  background-size: auto 480px;
  border-radius: 16px;
}

.advantages {
  display: grid;
  padding: 56px 40px;
  gap: 56px;
  background-color: #FCFCFC;
  border-radius: 16px;

}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  column-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 505px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.advantages-item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.advantages-item .description {
  margin: 0;
}

.description {
  color: #565C66;
}

.store-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog {
  background: url(../image/index/blog.jpg);
  background-repeat: no-repeat;
  padding-left: 32px;
  border-radius: 16px;
}

.title-blog {
  line-height: 20px;
  color: #565C66;
}

.title-post {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 303px;
  margin-top: 12px;
}

.subscribe {
  width: 570px;
  border-radius: 16px;
  background-image: url(../image/index/subscribe.png);
}


.wrapper-subscribe {
  background-color: #FCFCFC;
  padding: 26px;
  margin: 6px;
}

.wrapper-subscribe .description {
  margin: 0;
}
.subcribe-form {
  padding-top: 42px;
  display: flex;
  gap: 14px;
}

.form-email {
  width: 332px;
}

.delivery {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 135px;
  background-image: url(../image/index/delivery.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.wrapper-delivery {
  margin-left: 100px;
}
.title-delivery {
  width: 356px;
  margin: 167px 0 24px;
  text-align: left;
}

.description-delivery {
  width: 371px;
  margin-bottom: 163px;
}

.wrapper-form {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 500px;
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 40px 0 42px 40px;
}

.wrapper-form .description {
  width: 380px;
  margin-bottom: 32px;
  font-weight: 400;
  line-height: 22px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 152px 135px;
  gap: 20px 16px;
}

.appointment-form-phone {
  grid-column: 2/ 4;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-label {
  margin-bottom: 8px;
}

.field {
  margin: 0;
  padding: 14px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.field:hover {
  background: #FFFFFF;
  border: 1px solid #2D3440;
}

.field:focus {
  background: #FFFFFF;
  border: 2px solid #2D3440;
  outline: none;
}

.field:disabled,
.field:disabled:hover {
  background: #E7E7E7;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}


.appointment-form-adress {
  grid-column: 1/ -1;
}

.appointment-submit {
  border-radius: 16px;
  grid-column: 1/ -1;
  justify-self: center;
}

.contacts {
  background-image: url(../image/index/contacts.jpg);
  border-radius: 16px;
  margin: 0;
  padding: 64px;
  background-size: cover;
}

.button-delivery {
  grid-column: 2/ 3;
}

.wrapper-contacts {
  width: 343px;
  background-color: #FCFCFC;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 8px;
}

.wrapper-contacts .description {
  margin: 0;
}

 .adress {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 24px;
}

.contact-phone-text {
  color: #565C66;
  margin: 0;
  padding-bottom: 12px;
}

.contacts-phone {
  color: #2D3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.shedule {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  padding-bottom: 32px;

}


                      /*Footer*/
.page-footer {
  position: relative;
  display: flex;
  padding: 44px 0;
}


.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 104px;
  margin: 0 299px 0 4px;
}

.social-media{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  height: 24px;
  background-size: 24px 24px;
  outline: none;
}

.social-media-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-media-item:nth-child(3n) {
  margin-right: 0;
}

.social-icon {
  fill: #FCFCFC;
}

.social-link:hover {
  background: #2D3440;
  border-radius: 24px;
}

.social-link:focus {
  background: #2D3440;
  border: 2px solid #2D3440;
  border-radius: 24px;
}

.social-link:active {
  border: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
  opacity: 0.5;
}

.footer-documentation {
  width: 356px;
  margin-right: 200px;
}

.suppliers {
  position: absolute;
  left: 407px;
  top: 50px;
}

.footer-list-documents {
  position: absolute;
  left: 431px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 126px 182px;
  gap: 8px 24px ;
  margin: 0;
  padding: 0;
}

.footer-list-documents a {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.suppliers {
  font-weight: 700;
}

.about {
  width: 193px;
}

.by {
  font-size: 12px;
  line-height: 16px;
  padding-top: 14px;
  margin: 0;
}
                      /*Catalog*/

.main-inner {
  padding-top: 32px;
  margin: 0;
}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-right: 28px;
}

.header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding-top: 16px;

}

.filters {
  width: 823px;
  margin-bottom: 44px;
}

.catalog-filter-group {
  margin: 0;
  border: none;
  padding: 0;
}

.control {
  position: relative;
  display: flex;
  padding-left: 24px;
  align-items: center;
  padding-right: 16px;
}

.catalog-filter-item:last-child .control {
  padding-right: 0;
}


.select-control {
  width: 100%;
  border: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 8px 16px;
  padding-right: 13px;
  border-radius: 20px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  background-image: url(../image/catalog/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  appearance: none;
  outline: none;
}

.wrapper-first-row-filter .control {
  padding: 0;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  padding-left: 8px;
  background-image: url(../image/catalog/default_checkbox.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.control-mark:hover {
  background-image: url(../image/catalog/hover_checkbox.svg);

}

.control-input[type="checkbox"]:checked + .control-mark:hover {
  background-image: url(../image/catalog/hover_checked.svg);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../image/catalog/checked.svg);

}

.control-mark:disabled {
  background-image: url(../image/catalog/disabled_checkbox.svg);

}

.control-input[type="checkbox"]:checked + .control-mark:disabled {
  background-image: url(../image/catalog/disabled_checked.svg);
}

.control-label {
  font-size: 14px;
  line-height: 20px;
}

.wrapper-first-row-filter {
  display: grid;
  grid-template-columns: 196px 196px 1fr;
  gap: 24px;
  margin-bottom: 16px;
}

.wrapper-second-row-filter {
  display: grid;
  grid-template-columns: 1fr 185px;
  gap: 16px;
}

.filter-calories {
  width: 383px;

}

.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background: rgba(252, 252, 252, 0.3);
  padding: 8px 24px;
  border-radius: 20px;
}

.filter-fillers {
  width: 604px;
}

.range-wrapper-inputs {
  display: flex;
  padding-left: 16px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.wrapper-range-scale {
  width: 164px;
  padding: 19px 16px 17px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  margin-top: 8px;
}

.range-scale {
  position: relative;
  background: rgba(86, 92, 102, 0.3);
  height: 2px;
  width: 164px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background: #565C66;
}

.range-toggle {
  position: relative;
  width: 16px;
  height: 16px;
  background:#2D3440;
  border-radius: 100%;
  cursor: pointer;
  border: none;
}

.range-toggle::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #FCFCFC;
  border-radius: 100%;
}

.range-toggle:hover {
  background: #FCFCFC;
}

.range-toggle:hover::after {
  background: #2D3440;
}

.range-toggle:focus {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
}

.range-toggle:focus::after {
  background: #2D3440;
}

.range-toggle:active {
  background: #2D3440;
  outline: none;
}

.toggle-min {
  top: -13px;
  left: -10px;
}

.toggle-max {
  top: -13px;
  right: -20px;
}


.circle {x
  position: absolute;
  background-color: #FFFFFF;
}

.button-filter {
  width: 185px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  margin-top: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-filter:hover {
  background: #FCFCFC;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.product-list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 40px 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card a {
  text-decoration: none;

}

.item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.pagination-container {
  display: flex;
  padding-top: 41px;
  padding-bottom: 41px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 8px;

}
.pagination-show-more {
  padding: 12px 32px;
  margin: auto;
  border-radius: 26px;
}

.pagination-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 8px;
  gap: 10px;
}

.pagination-item a {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
  border-radius: 50px;
  outline: none;
}

.pagination-link:active {
  background: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
  border-radius: 50px;
}

.pagination-item:first-child .pagination-link{
  opacity: 0.3;
}

.pagination-arrow {
  fill: #2D3440;
}

.pagination-link-current {
  background: #FCFCFC;
  border-radius: 50px;
}
